.bg
	&-gris
		background silver
	&-white
		background white
	&-azulOrt
		background #337ab7 !important
	&-azulOrtFallBack
		background url('../images/back-img.png') repeat
	&-azulClaro
		background #f3f2f7
	&-azulMedio
		background #dce0f6