.btn
	font-family font
	transition all 100ms linear
	&-silver
		background silver
		color white
		&:hover, &:focus, &:active, &.active
			background gray
			color white
	&-primary
		background #283371
		border-color #0C1545
		&:hover
			background #0C1545
			border-color #283371
	&-primary--claro
		background #007bff
		border-color #007bff
		color white
		&:hover
			background #035FC1
			border-color #035FC1
			color white
	&-outline
		&-primary
			border-color #283371
			color #283371
			&:hover
				background #0C1545
				border-color #0C1545
				color white
		&-white
			border-color #283371 !important
			background white
			color #283371
			&:hover
				background white
				border-color #0C1545 !important
				color #283371
			&--group
				border-radius 0 6px 6px 0
			&.active
				border-color #007bff !important
				color #007bff
				&:hover
					border-color #007bff !important
					color #007bff
	&-checkbox, &-radios
		background white
		border-color #283371
		border-radius 6px
		color #283371
		text-align left
		&.active
			background #007bff
			border-color #007bff
			color white
	&-rounded
		border-radius .8rem
	&-group
		&--search
			display flex
			border-radius .8em
			overflow hidden
			.btn-h100
				flex 1 !important
			&.noHidden
				overflow normal
			& > .input-group
				& > input
					border-radius .8em
					border-color azul
		&--special
			display flex
			border-radius .8em
			overflow hidden
			.btn
				border-color white
				&.active
					border-color white !important
					background #2f56ff !important
			.btn-h100
				flex 1 !important
			&.noHidden
				overflow normal
			& > .input-group
				& > input
					border-radius .8em
					border-color azul
