.btn
	font-family font
	transition all 100ms linear
	&-silver
		background silver
		color white
		&:hover, &:focus, &:active, &.active
			background gray
			color white
	&-group
		&--special
			display flex
			.btn-h100
				flex 1 !important
