.btn
	font-family font
	transition all 100ms linear
	&-silver
		background silver
		color white
		&:hover, &:focus, &:active, &.active
			background gray
			color white
	&-primary
		background #283371
		border-color #0C1545
		&:hover
			background #0C1545
			border-color #283371
	&-primary--claro
		background #007bff
		border-color #035FC1
		&:hover
			background #035FC1
			border-color #007bff
	&-outline
		&-primary
			border-color #283371
			color #283371
			&:hover
				background #0C1545
				border-color #0C1545
				color white
	&-group
		&--special
			display flex
			.btn-h100
				flex 1 !important
