.form
	&-control
		position relative
		&.blue
			border-color #010D85
		&.red
			border-color red
		&.gray
			border-color #B3B2B2
		&--noBorder
			border-radius
		&--edited
			position relative
			& > span.edit
				&:after
					content '<i class="fa fa-pencil" aria-hidden="true"></i>'
					position absolute
					right .25em
					top 50%
					font-size 1em
					width 1em
					height 1em
			
.input-group
	&--orthotic
		border none
		.form-control
			border none
		.input-group-prepend
			& > span
				background white
				border none
	&.invalid
		margin-bottom 0 !important
		input
			border-color #c4161c
			border-bottom-left-radius 0
		.input-group-append
			.input-group-text
				border-color #c4161c
				border-bottom-right-radius 0

.tooltip-orthoticText
	position absolute
	display none
	border-bottom none
	border-radius 2px
	height 2em
	background #B3B2B2
	color white
	top 100%
	left 15px
	right 15px
	padding .2em
	
.custom-select
	position relative
	padding 0
	border 0
	height auto

.custom-select select
	display none

.select-selected
	background-color white
	border 1px solid #ced4da
	border-radius .25rem
	border-color #ced4da !important

.select-selected:after
	position absolute
	content ""
	top 14px
	right 10px
	width 0
	height 0
	border 6px solid transparent
	border-color #495057 transparent transparent transparent

.select-selected.select-arrow-active:after
	border-color transparent transparent #ced4da transparent
	top 7px

.select-items div,.select-selected
	color #495057
	padding 8px 16px
	border 1px solid transparent
	border-color transparent transparent rgba(0, 0, 0, 0.1) transparent
	cursor pointer

.select-items
	position absolute
	background-color white
	top 100%
	left 0
	right 0
	z-index 99

.select-hide
	display none

.select-items div:hover, .same-as-selected
	background-color rgba(0, 0, 0, 0.1)