@media screen and (max-width:1440px)
	body
		font-size responsive

/* Medium devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px)
	body
		font-size responsive

/* Smal devices (desktops, 992px and up) */
@media screen and (max-width:992px)
	body
		font-size responsive

/* X - Small devices (tablets, 768px and up) */
@media screen and (max-width:768px)
	body
		font-size responsive
