//IMPORTACION DE LAS FUENTES ARCHIVOS

// @font-face
//     font-family 'anton'
//     src url('fonts/anton-webfont.eot')
//     font-weight normal
//     font-style normal

//Roboto:400,300,300italic,400italic,500italic,500,700,900,700italic,900italic

font = 'Roboto', sans-serif
azul = #303c76
