.nav
	&--example
		background silver
	&--footer
		border-radius 0
		background white
		.nav-link
			border-radius 0
			& > a, .nav-link
				border-radius 0 !important
		.nav-item
			&:first-child
				.nav-link
					border-left none
					
.list
	&-group
		&__mattach
			text-align center
			

.footer-ortothic
	box-shadow 1px -10px 60px 0 rgba(29,15,125,0.15)

.stepNav {
	margin: 30px 20px;
	height: 43px;
	padding-right: 20px;
	position: relative;
	z-index: 0;
}

.stepNav li {
	float: left;
	position: relative;
	z-index: 3;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}

.stepNav li:first-child {
	border-radius: 5px 0 0 5px;
}

.stepNav li:nth-child(2) { z-index: 1; }
.stepNav li:nth-child(3) { z-index: 0; }

.stepNav.twoWide li { width: 50%; }
.stepNav.threeWide li { width: 33.33%; }

.stepNav a, .stepNav a:visited {
	width: 100%;
	height: 43px;
	padding: 0 0 0 25px;
	color: #717171;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	line-height: 43px;
	white-space: nowrap;
	border: 1px solid #cbcbcb;
	text-decoration: none;
	border-top-color: #dddddd;
	border-right: 0;
	background-color: #fbfbfb;
	float: left;
	position: relative;
	box-sizing: border-box;
}

.stepNav li:first-child a {
	padding-left: 12px;
	border-radius: 5px 0 0 5px;
}

.stepNav a:before {
	content: "";
	width: 29px;
	height: 29px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #cbcbcb;
	display: block;
	position: absolute;
	top: 6px;
	right: -16px;
	z-index: -1;
	transform: rotate(-45deg);
}

.stepNav a:hover {
	color: #2e2e2e;
	background-color: #f5f5f5;
}

.stepNav a:hover:before {
	
}

.stepNav li.selected {
	box-shadow: none;
}

.stepNav li.selected a, .stepNav li.selected a:before {
	background: #ebebeb;
}

.stepNav li.selected a {
	border-top-color: #bebebe;
	box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
}

.stepNav li.selected a:before {
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #cbcbcb;
	box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
}