.nav
	&--example
		background silver
	&--footer
		border-radius 0
		background white
		.nav-link
			border-radius 0
			& > a, .nav-link
				border-radius 0 !important
		.nav-item
			&:first-child
				.nav-link
					border-left none
					
.list
	&-group
		&__mattach
			text-align center
			

.footer-ortothic
	box-shadow 1px -10px 60px 0 rgba(29,15,125,0.15)
	
.breadcrumb
	&--custom
		background white
		border-top 1px gray
		border-bottom 1px gray
		overflow hidden
		box-shadow 1px 10px 60px 0px rgba(29,15,125,0.15)
		border-bottom 1px solid rgba(0,0,0,.125)
		border-radius 0
		margin-bottom 3em
		& > .breadcrumb-item
			text-align center
			color azul
			padding .5em
			& > a
				color gray
			&.active
				& > a
					color azul
					
			&+.breadcrumb-item::before
				content ""
			&-arrow
				background-image url("../images/arrowBreadcum.jpg")
				padding 0
				display block
				width 5em
				margin-top -1em
				background-position 50% 50%
				background-size contain
				background-repeat no-repeat
				margin-bottom -1em