.sidebar
	&-example
		background silver
		padding 1em 0
		
.card
	border-radius .8em
	overflow hidden
	&--prescription
		text-align left
		border-radius .8rem
		overflow hidden
		& > .card-header
			border-bottom none !important
			color white !important
			padding .25em 1em
			& > h5
				& > button
					color white !important
					text-decoration none
					&:hover,&:focus,&:active
						text-decoration none
	&-success
		border-color #28a745
		& > .card-header
			background-color #28a745
			border-color #28a745
			color white
	&-danger
		border-color #dc3545
		& > .card-header
			background-color #dc3545
			border-color #dc3545
			color white
	&-primary
		border-color #303c76
		& > .card-header
			background-color #303c76
			border-color #303c76
			color white
	&-warning
		border-color #ffc107
		& > .card-header
			background-color #ffc107
			border-color #ffc107
			color white
	&-secondary
		border-color #6c757d
		& > .card-header
			background-color #6c757d
			border-color #6c757d
			color white
	&-fit
		border-color #007bff
		& > .card-header
			background-color #007bff
			border-color #007bff
			color white
	&-info
		border-color #303c76
		& > .card-header
			background-color #c0ccff
			border-color #303c76
			color azul
						
.slick-slide
	width 100%
	& img
		display block
		width 100% !important

.nav-bar__primary
	background white !important
	border-bottom 1px solid rgba(0,0,0,.125)
	.navbar-brand
		img
			max-width 200px
	&--shadow
		box-shadow: 1px 10px 60px 0px rgba(29,15,125,0.15)

.navbar-collapse
	&__primary
		& > .navbar-nav
			& > .nav-item
				text-align left
				border-top 1px solid rgba(0,0,0,.1)
				padding .8em 2em
				color #010D85
				font-size 1.2em
				&:last-child
					border-bottom none
					
.dropdown-menu--top
	left auto !important
	right 0 !important
	
.slick-slide
	position relative
	& > a.close
		position absolute
		z-index 900
		background #E43530 !important
		color white
		border-radius 50%
		width 1.5em
		height 1.5em
		display block
		top .5em
		right .5em
		text-align center
		padding .2em
					
/* cuando vayamos a imprimir ... */
@media print{
	/* indicamos el salto de pagina */
	.saltoDePagina{
		display:block;
		page-break-before:always;
	}
}
					
.panel-heading-title{ color:#ffffff !important; }
.label35x20, 
.label35x20last,
.label80x35,
.label70x35,
.label90x45,
.label70x45 { 
	overflow: hidden; 
	border: 1px solid #f0f0f0; 
	border-radius: 10px;
}

.label35x20{ width: 35mm; height: 21mm; float: left; margin-right: 6mm; font-size: 10px; padding: 3px 0px 0px 4px; line-height: 15px;}
.label35x20last{ width: 35mm; height: 21mm; float: left; font-size: 10px; padding: 3px 0px 0px 4px; line-height: 15px;}
.label35x20 span.title, .label35x20last span.title{font-weight: bold; line-height: 13px;}

.label80x35{ width: 80mm; height: 35mm; float: left; margin-right: 8mm; font-size: 13px; padding: 0px 0px 0px 10px;}
.label80x35 span.title{font-weight: bold; font-size: 21px; margin-bottom: 2px; line-height: 13px; }
.label80x35 p{line-height: 16px; margin:0px;}

.label70x35{ width: 70mm; height: 35mm; float: left;  font-size: 13px; padding: 3px 0px 0px 10px;}
.label70x35 span.title{font-weight: bold; font-size: 21px; margin-bottom: 2px; line-height: 13px;}
.label70x35 p{line-height: 16px; margin:0px;}



.label90x45{ width: 88mm; height: 45mm; float: left; margin-right: 2mm; font-size: 13px; padding: 3px 0px 0px 10px;}
.label90x45 span.title{font-weight: bold; font-size: 21px; margin-bottom: 2px;line-height: 13px; }
.label90x45 p{line-height: 11px;}

.label70x45{ width: 68mm; height: 45mm; float: left;  font-size: 13px; padding: 3px 0px 0px 10px; }
.label70x45 span.title{font-weight: bold; font-size: 21px; margin-bottom: 2px;line-height: 13px; }
.label70x45 p{line-height: 16px; margin:0px;}


.clear{ clear:both;}	

/*p{ margin: 0px; padding: 0px; line-height: 14px;}*/

.space{ height: 5px;}

/*label{font-weight: bold;}*/

.sameheight {
display: flex;
}

.add_info_txtarea{background-color:#ffffff; border-style:none; padding-left:0px; padding-top:0px;
word-wrap: normal;  
word-break: normal;
}
						