.sidebar
	&-example
		background silver
		padding 1em 0
		
.card
	&--prescription
		text-align left
		& > .card-header
			background-color #D9FFCE !important
			border-color #038C00
			color #2A9E07 !important
			& > h5
				& > button
					color #2A9E07 !important
					text-decoration none
					&:hover,&:focus,&:active
						text-decoration none
						
.slick-slide
	width 100%
	& img
		display block
		width 100% !important

.nav-bar__primary
	.navbar-brand
		img
			max-width 200px

.navbar-collapse
	&__primary
		& > .navbar-nav
			& > .nav-item
				text-align left
				border-top 1px solid rgba(0,0,0,.1)
				padding .8em 2em
				color #010D85
				font-size 1.2em
				&:last-child
					border-bottom none
						