.sidebar
	&-example
		background silver
		padding 1em 0
		
.card
	&--prescription
		text-align left
		& > .card-header
			background-color #D9FFCE !important
			border-color #038C00
			color #2A9E07 !important
			& > h5
				& > button
					color #2A9E07 !important
					text-decoration none
					&:hover,&:focus,&:active
						text-decoration none
						
.slick-slide
	width 100%
	& img
		display block
		width 100% !important
						